# Clase 1

In [1]:
print("Hola Mundo")

Hola Mundo

In [2]:
mi_nombre = "Juan Pablo"

In [3]:
print(mi_nombre)

Juan Pablo

In [8]:
mi_edad = 20
mi_correo = "juanreyes55@aragon.unam.mx"
mi_altura = 1.68

In [9]:
print(mi_edad)

20

In [10]:
print(mi_correo)

juanreyes55@aragon.unam.mx

In [11]:
print(mi_altura)

1.68

In [5]:
valor_1 = 35
valor_2 = 10

In [6]:
valor_1 + valor_2

45

In [13]:
suma = valor_1 + valor_2

In [14]:
print(suma)

45

In [15]:
resta = valor_1 - valor_2

In [16]:
multiplicacion = valor_1 * valor_2

In [17]:
division = valor_1 / valor_2

# Format

In [23]:
valor_1 = input("dame un valor")

In [24]:
print(valor_1)

20

In [25]:
valor_1 * 3

'202020'

In [26]:
valor_1 = int(input("Dame un valor"))

In [27]:
print(valor_1)

20

In [28]:
valor_1 * 3

60

In [29]:
valor_1 = int(input("Dame un valor 1"))

In [30]:
valor_2 = int(input("Dame un valor 2"))

In [31]:
suma = valor_1 + valor_2

In [32]:
print(f"la suma de {valor_1} con {valor_2 } es {suma}")

la suma de 20 con 34 es 54

In [33]:
35 >= 42

False

In [34]:
20<=15

False

In [35]:
55 >= 54

True

In [36]:
22<=22

True

In [37]:
5 == 5

True

In [ ]:
if 1.60 > 1.20:
    print("puedes pasar")
eslse: print("no puedes subir")